{% extends 'base.html.twig' %}

{% block title %}SharedContacts{% endblock %}

{% block body %}
    <h1>SharedContacts</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ shared_contact.id }}</td>
            </tr>
            <tr>
                <th>Contact_id</th>
                <td>{{ shared_contact.contactId }}</td>
            </tr>
            <tr>
                <th>User_id_shared_to</th>
                <td>{{ shared_contact.userIdSharedTo }}</td>
            </tr>
            <tr>
                <th>User_id_shared_by</th>
                <td>{{ shared_contact.userIdSharedBy }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('shared_contacts') }}">back to list</a>

    {{ include('shared_contacts/_delete_form.html.twig') }}
{% endblock %}
